
.SignUp{
  background-color: #30384129;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;

}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  max-width: 450px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background-color:  #f4f3f3;
  color: #fff;
  padding-top: 40px;
}


.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  color: #080808;
  
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #080707;
  margin-left: 60px;
}

.message{
  font-size: 14.5px;
  color: rgba(11, 11, 11, 0.7);
  text-align: center;
} 
.signin {
  font-size: 14.5px;
  color: rgba(11, 11, 11, 0.7);
  text-align: center;
}
.msg{
  font-size: 14.5px;
  color: #00bfff;
  text-align: center;
}

.signin {
  text-align: center;
}

.signin .Link:hover {
  text-decoration: underline royalblue;
}

.signin .Link {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
  
}

.form label .input {
  background-color: #1f1e1e13;
  color: #101010;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
  margin-top: -4px;

}

.form label .input + span {
  color: black;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  background-color: transparent;
}

.form label .input:placeholder-shown + span {
  top: 1.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #040404;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
  background-color: transparent;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #090909;
  width: 50%;
  margin-left: 100px;
  border: 1px solid black;
  cursor: pointer;
}
.submit:active {
  background-color: #f0f4f696;
  border: 1px solid black;
  color: #000;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.right-section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 10px;
  gap: 20px;
  background-color: transparent;
  display: none;
}
.right-section3 p{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #080808;
}
.right-section3 img{
  margin-top: 10px;
  height: 400px;
  width: 550px;
  background-color: transparent;
}

/*----------------------------media queries-------------------------------*/
@media(max-width:520px){
  .SignUp{
    height: 100vh;
    padding: 20px;
    position: fixed;
    
  }
  .form {
    gap: 15px;
    height: 550px;
    max-width: 450px;
    padding: 30px;
    color: #fff;
    margin-top: -100px;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    color: #080808;
    
  }
  .title::before,
.title::after {
  margin-left: 20px;
  
}
.submit {
  margin-left: 80px;
}

  
}