.UserSignInDropdown-conatiner{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid;
  z-index: 100;
  
}
.UserSignInDropdown-wrapper{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
display: flex;
flex-direction: column;
height: 40%;
width: 35%;
z-index: 100;
border-radius: 10px;
margin-top: 200px;

}
.UserSignInDropdown-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 2px;
}
.UserSignInDropdown-content h1{
  font-size: 2.5rem;
  background-color: transparent;
}
.UserSignInDropdown-content p{
  font-size: 1rem;
}

.logincloseBtn{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100px;
}
.UserSignInDropdownsuccessGif{
  height: 80px;
  width: 80px;
}


.gotoAdminPanel-btn{
  background-color: #000000;
  color: white;
  height: 45px;
  width: 160px;
  font-size: 1rem;
  border-radius: 10px;

}
.gotoAdminPanel-btn:active{
  background-color: white;
  color: black;
  transition: all linear .01s;
}
/* 
@media(max-width:520px){
  .loginmodal-wrapper{
    height: 30%;
    width: 80%;
    }
    .loginsuccessGif{
      height: 40px;
      width: 40px;
    }
    .gotoAdminPanel-btn{
      height: 40px;
      width: 160px;
      font-size: 1rem;
    
    }
    .loginmodal-content{
      padding: 10px;
      display: flex;
      gap: 8px;
    }
    .loginmodal-content p{
        font-size: .9rem;
        text-align: justify;
        text-transform: capitalize;
        line-height: .60;
    }
    .loginmodal-content h1{
      font-size: 1.333rem;
      font-weight: 900;
    }
   
} */