.wrappper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: #7a7c7f3d;
  height: 300px;
  gap: 20px;

}
.footer-section{
  display: flex;
  flex-direction: row;
  gap: 150px;
  text-align: justify;
  background-color: transparent;
  border-bottom: 1px solid black;
}
  .footer-item{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.items{
  display: flex;
  flex-direction: column;
  padding: 13px;
  background-color: transparent;
}
.footer-item h2{
  font-size: 1rem;
  font-weight: 600;
}
.footer-item p{
  font-size: .87rem;
  padding: 2px;
  text-align: justify;
}
.copy-rights{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  
}
.copy-rights p{
  font-size: 1.1rem;
  font-weight: 500;
}
/*-------------------mediasqueries--------------------------------*/
@media(max-width:520px){
  .wrappper{
    padding: 10px;
    height: 180px;
    gap: 10px;
    width: 100%;
  }
  .footer-section{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: justify;
    text-transform:capitalize ;
    padding: 10px;
  }
  .footer-item{
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 10px;
}
.items{
  display: flex;
  flex-direction: column;
  padding: 0px;
  background-color: transparent;
}
.footer-item h2{
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: -1.2px;
}
.footer-item p{
  font-size: .43rem;
  padding: 0px;
  letter-spacing: -.5px;
  text-align: justify;
}
.copy-rights p{
  font-size: .6rem;
  font-weight: 900;
}
}