*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josephin Sans",sans-serif;
  background-color: #f4f3f3;
  
}

.App{
  max-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;

}
